<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.crucialfunctiontest.mapper.OperateLogMapper">

<!--    &lt;!&ndash;dateTime千万不能跟“”空字符串比较 ->-->
<insert id="insertLog">
    insert into operate_log
    <trim prefix="(" suffix=")" suffixOverrides=",">

        <if test="operateUser != null and operateUser != ''">
            operateUser,
        </if>
        <if test="operateTime != null">
            operateTime,
        </if>
        <if test="className != null and className != ''">
            className,
        </if>
        <if test="methodName != null and methodName != ''">
            methodName,
        </if>
        <if test="methodParams != null and methodParams != ''">
            methodParams,
        </if>
        <if test="returnValue != null and returnValue != ''">
            returnValue
        </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="operateUser!= null and operateUser != ''">
            #{operateUser},
        </if>
        <if test="operateTime != null">
            #{operateTime},
        </if>
        <if test="className != null and className != ''">
            #{className},
        </if>
        <if test="methodName != null and methodName != ''">
            #{methodName},
        </if>
        <if test="methodParams != null and methodParams != ''">
            #{methodParams},
        </if>
        <if test="returnValue != null and returnValue != ''">
            #{returnValue}
        </if>

    </trim>

</insert>

</mapper>